DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=secure_chat_db
JWT_SECRET=super_secret
CSRF_SECRET=super-long-random-secret-key
REDIS_URL=rediss://localhost:6379
NATS_URL=nats://localhost:4222
CACHE_ENCRYPTION_KEY="super-long-random-secret-key"
ADMIN_BOOTSTRAP_USERNAME=admin
ADMIN_BOOTSTRAP_PASSWORD=Admin123@