# db settings
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=secure_chat_db
# auth & security
JWT_SECRET=your-secret-key
CSRF_SECRET=your-csrf-secret
CACHE_ENCRYPTION_KEY=your-64-character-hex-key
# nat
NATS_URL=nats://localhost:4222
# redis
REDIS_URL=redis://localhost:6379/0
# admin credentials
ADMIN_BOOTSTRAP_USERNAME=admin
ADMIN_BOOTSTRAP_PASSWORD=Admin123@
# google oauth2 credentials
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_CALLBACK_URL="http://localhost:8080/auth/google/callback"